h1 {
    text-align: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
}

#content {
    display: flex;
    justify-content: space-between;
}

#content div {
    /* display: flex; */
    /* height: 700px; */
    width: 100%;
    margin: 5px;
    padding: 10px;
}
#todoArea{  
    display: flex;
    flex-direction: column;
}
#resultArea{
    display: flex;
    flex-direction: column;
}
#cssArea{
    display: flex;
    flex-direction: column;
}
body {
    background-color: whitesmoke;
}
h2{
    text-decoration: underline;
}
#helpButton{
    display: flex;
    height: 50px;
    width: 100px;
    align-self: flex-end;
}
#testButton{
    height: 50px;
    width: 100px;
}
#DivUtilePourLeBoutonLexiquePresentEnbAsADroiteDeLaPage{
    display: flex;
    justify-content: flex-end;
}