h1 {
    text-align: center;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#content {
    display: flex;
    justify-content: space-between;
}

#content div {
    height: 700px;
    width: 100%;
    border: solid 1px black;
    margin: 5px;
    padding: 10px;
}
body {
    background-color: whitesmoke;
}
